    <div class="jumbotron">
        <h1>Advanced Stock Analysis Strategies Leveraging Artificial Intelligence Deployed On Cloud</h1>
        <p class="lead">Hello</p>
        <p class="lead">We are amused to provide a stock simulation experiment based on several strategies. Do choose a strategy and start a simulation today. Have fun.</p>

        <p><a class="btn btn-lg btn-primary" ng-href="/strategy/all" role="button">Get started today</a></p>
      </div>
      <div>

        <!-- testing angular strap -->
        
<!--         <button class="btn btn-primary" bs-modal="modal" data-animation="am-fade-and-scale">Show Modal</button>
        <button class="btn btn-link" bs-tooltip="tooltip">what's this?</button>
        <button class="btn btn-primary" bs-popover="popover">Show Popover</button>
        <button class="btn btn-primary" bs-alert="alert">Show Alert</button>
        <button class="btn btn-success" ng-click="showAlert()">Alert via Service</button>
        <div id="alertContainer">
        </div> -->
        
      </div>